// Arguments
params {
	reads    = ''
	outdir   = 'results'
	help     = false
	db       = null
	db_arg   = '/mnt/beegfs/home/mrojas/DiGenomaLab/Systemix/analysis/groot-amr/db-arg'
	db_res   = '/mnt/beegfs/home/mrojas/DiGenomaLab/Systemix/analysis/groot-amr/db-resfinder'
	tracedir = "${params.outdir}/pipeline_info"
}

profiles {
	standard {
		process.executor = 'local'
	}
	kutral {
		executor.name      = 'slurm'
		executor.queue     = 'uohhm'
		executor.queueSize = 5
	}
}

process {
	withName: IAMGROOT {
		cpus   = 16
		memory = 10.GB
		time   = 24.h
	}
	errorStrategy = 'finish'
}

workflow.onComplete = {
	println "nf-groot finished! Status: ${ workflow.success ? 'OK' : 'failed' }"
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
	author          = 'DiGenomaLab'
	homePage        = 'https://github.com/digenoma-lab/nf-groot'
	description     = 'A Nextflow pipeline for running Groot'
}
